.VotesNotifications
{
    align: center center;
}

.OtherNotifications
{
    align: center center;
}

.panel_notifications
{
    align: center center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.panel_notifications.Open
{
    opacity: 1;
}

.panel_notifications_BG
{
    width: 2408px;
    height: 1512px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/notif/bg.png");
    ui-scale: 30%;
}

.panel_notifications_body
{
    width: 500px;
    height: 240px;
    align: center center;
    flow-children: down;
}

.panel_notifications_timer_bg
{
    margin-top: 20px;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    horizontal-align: center;
    background-color: #141414;
}

.panel_notifications_timer_label
{
    align: center center;
    font-size: 24px;
    font-weight: semi-bold;
    color: white;
    text-align: center;
    width: 100%;
}

.panel_notifications_body_text
{
    text-align: center;
    horizontal-align: center;
    width: 380px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.panel_notifications_buttons
{
    flow-children: right;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.panel_notifications_button_yes
{
    width: 146px;
    height: 32px;
    background-color: rgba(184, 255, 69, 0.3);
    border: 2px solid #B8FF45;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    brightness: 0.75;
    transition-property: brightness;
    transition-duration: 0.15s;
}

.panel_notifications_button_yes_label
{
    font-weight: semi-bold;
    font-size: 16px;
    align: center center;
    text-transform: uppercase;
    color: rgba(184, 255, 69, 0.75);

}

.panel_notifications_button_no
{
    width: 146px;
    height: 32px;
    background-color: rgba(255, 69, 69, 0.3);
    border: 2px solid #FF4545;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    brightness: 0.75;
    transition-property: brightness;
    transition-duration: 0.15s;
}

.panel_notifications_button_no_label
{
    font-weight: semi-bold;
    font-size: 16px;
    align: center center;
    text-transform: uppercase;
    color: rgba(255, 100, 100, 0.75);
}

.panel_notifications_button_yes:hover
{
    brightness: 1.2;
}

.panel_notifications_button_no:hover
{
    brightness: 1.2;
}

.panel_notifications_close
{
    horizontal-align: right;
    margin-top: 120px;
    margin-right: 130px;
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/notif/close.png");
    z-index: 5;
    transition-property: transform;
    transition-duration: 0.2s;
}

.panel_notifications_close:hover
{
    transform: scale3d(1.1,1.1,1.1);
}

.CenterText
{
    align: center center;
    margin-bottom: 40px;
}