.Hidden {
    opacity: 0.0;
}

#high_five_woda {
    width: 50px;
    height: 50px;
    padding-top: 2px;
    vertical-align: bottom;
    horizontal-align: right;
    margin-bottom: 120px;
    margin-right: 43px;
    opacity: 1.0;
    brightness: 1.0;
}

#high_five_woda:hover {
    brightness: 1.25;
}

.PanelImageB
{
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/spellicons/consumables/seasonal_ti10_high_five_png.vtex");
    background-image: url("s2r://panorama/images/spellicons/consumables/plus_high_five_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

#CooldownContainer {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#CooldownBackground {
    width: 100%;
    height: 100%;
    background-color: #000000d9;
}

#CooldownLabel {
    vertical-align: bottom;
    padding: 0px 3px;
    text-overflow: shrink;
    text-shadow: 2px 2px 4px 2 black;
    transform: translateY(2px);
    font-size: 16px;
    color: #999;
}

.HighFiveKeyButton
{
    background-color: #2127268A;
    box-shadow: fill 1.0px 0.0px 1.0px 1.0px #000000BB;
    border: 1px solid #000000FF ;
    border-radius: 2px;
    height: 13px;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.HighFiveKeyButtonLabel
{
    color: #FFFFFFFF;
    text-align: center;
    text-shadow: 1.0px 1.0px 0.0px 2.0 #000000FF;
    z-index: 5;
    font-size: 10px;
}