.SpellShopMain
{
	width: 100%;
	height: 100%;
}

.SpellMapPanel
{
    margin-left:244px;
	width:96px;
	height:220px;
	vertical-align:bottom;
	background-image:url("s2r://panorama/images/hud/reborn/right_flare_bg_psd.vtex");
	background-size:100%;
	flow-children:down;
}

.MinimapExtraLarge .SpellMapPanel
{
	margin-left: 280px;
}

.SpellButtonOpen
{
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 48px;
    margin-top: 40px;
    margin-left: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.SpellButtonOpen:hover
{
    brightness: 2;
}

.SpellButtonOpenTroll
{
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 48px;
    margin-top: 5px;
    margin-left: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.SpellButtonOpenTroll:hover
{
    brightness: 2;
}

.ActivatedSpell
{
    width: 28px;
    height: 28px;
    background-color: black;
    border-radius: 48px;
    margin-top: 5px;
    margin-left: 12px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.ActivatedSpell:hover
{
    brightness: 2;
}

.SpellButtonOpenIcon
{
    width: 100%;
    height: 100%;
    background-image:url("file://{images}/custom_game/spell_shop/shop_button.png");
	background-size:100%;
}

.SpellButtonOpenIconTroll
{
    width: 100%;
    height: 100%;
    background-image:url("s2r://panorama/images/heroes/icons/npc_dota_hero_troll_warlord_png.vtex");
	background-size:100%;
}

.ActivatedSpellIcon
{
    width: 100%;
    height: 100%;
    background-image:url("file://{images}/custom_game/spell_shop/no_active.png");
	background-size:100%;
}

.HUDFlipped .ActivatedSpellIcon
{
    transform: rotateY( -180deg );
}

.HUDFlipped .SpellButtonOpenIcon
{
    transform: rotateY( -180deg );
}

.HUDFlipped .SpellButtonOpenIconTroll
{
    transform: rotateY( -180deg );
}

.SpellShopPanel
{
    width: 1000px;
    height: 600px;
    background-image: url("file://{images}/custom_game/spell_shop/background.png");
    background-size: 100%;
    align: center center;
    flow-children: down;
    transition-property: pre-transform-scale2d;
    transition-duration: 0.25s;
    margin-bottom: 50px;
    transition-property: pre-transform-scale2d;
    transition-duration: 0.25s;
    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;
    border-style: solid;
    border-width: 1px;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.CloseSpellShop
{
    opacity: 0;
}

.SpellShopHeader 
{
    width: 100%;
    height: 40px;
    flow-children: none;
    border-bottom: 1px solid black;
    background-image: url("s2r://panorama/images/conduct/ovw-bar-bg_png.vtex");
    background-size: 100% 150%;
}

.SpellShopHeaderLabel
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 24px;
}

.SpellShopPanelBody
{
    flow-children: right;
    width: 100%;
    height: 100%;
}

.SpellShopSpellsList
{
    width: 580px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.5);
    flow-children: down;
}

.SpellShopSpellsListChoose
{
    horizontal-align: center;
    font-weight: semi-bold;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}

.SpellShopSpellsListBody
{
    horizontal-align: center;
    height: 450px;
    overflow: squish scroll;
    flow-children: right-wrap;
}

.SpellShopSpellPanel
{
    width: 90px;
    height: 90px;
    margin: 10px;
    img-shadow: 2px 2px 8px 5.0 white;
    background-image: url("file://{images}/custom_game/spell_shop/spell_bg.png");
    background-size: 100%;
    opacity-mask: url("file://{images}/custom_game/spell_shop/spell_mask.png");
}

.SpellShopSpellPanelIcon
{
    align: center center;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

.SpellShopSpellBorder
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/custom_game/spell_shop/border.png");
    background-size: 100%;
}

/* remove buy random aspect
.SpellShopPanelBuy
{
    width: 100%;
    height: 100%;
    flow-children: right;
}

.UnlockPanelBuy
{
    flow-children: down;
    vertical-align: center;
    margin-left: 30px;
}

.UnlockPanelBuyButton
{
    width: 200px;
    height: 40px;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100%;
    box-shadow: fill #002a6644 1px 1px 8px 1px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
    transition-property: brightness;
    transition-duration: 0.2s;
}

.UnlockPanelBuyButtonLabel
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 20px;
}

.UnlockPanelBuyButton:hover
{
    brightness: 1.4;
}

.UnlockPanelBuyButtonDescription
{
    color: #808995;
    font-weight: semi-bold;
    font-size: 14px;
    vertical-align: top;
    margin-left: 20px;
    width: 350px;
    margin-top: 25px;
}

#VerticalScrollBar
{
    width: 2px;
}

.UnlockPanelBuyButtonCost
{
    horizontal-align: center;
    margin-top: 5px;
    height: 50px;
    margin-bottom: 5px;
    flow-children: right;
}

.UnlockPanelBuyButtonCostIcon
{
    width: 20px;
    height: 25px;
    background-image: url("file://{images}/custom_game/spell_shop/gem_icon.png");
    background-size: 100%;
    vertical-align: center;
}

.UnlockPanelBuyButtonCostLabel
{
    color: rgb(27, 194, 216);
    font-weight: semi-bold;
    font-size: 20px;
    vertical-align: center;
    margin-left: 10px;
}
*/

.SelectedSpellPrew .SpellShopSpellBorder
{
    wash-color: rgb(0, 238, 255);
}

.PreviewSpellInfo
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    flow-children: down;
}

.SpellShopIconAndButton
{
    flow-children: right;
    horizontal-align: center;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.SpellShopPreviewIcon
{
    width: 100px;
    height: 100px;
    img-shadow: 2px 2px 8px 5.0 white;
    background-image: url("file://{images}/custom_game/spell_shop/spell_bg.png");
    background-size: 100%;
    opacity-mask: url("file://{images}/custom_game/spell_shop/spell_mask.png");
}

.SpellPreviewPanelNameButton
{
    margin-left: 25px;
    margin-top: 10px;
    flow-children: down;
}

.SpellPreviewPanelNameLabel
{
    color: #879fd2;
    font-weight: semi-bold;
    font-size: 20px;
}

.SpellSrokPanelNameLabel
{
    color: #879fd2;
    font-weight: semi-bold;
    font-size: 15px;
    margin-top: 5px;
}



.SpellPreviewPanelButtonActivate
{
    width: 200px;
    height: 30px;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100%;
    box-shadow: fill #002a6644 1px 1px 8px 1px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
    transition-property: brightness;
    transition-duration: 0.2s;
    margin-top: 30px;
}

.SpellPreviewPanelButtonActivateLabel
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 14px;
}

.SpellPreviewPanelButtonActivate:hover
{
    brightness: 1.4;
}

.SpellPreviewLevelLabel
{
    color: #879fd2;
    font-weight: semi-bold;
    font-size: 20px;
    margin-left: 10px;
}

.SpellPreviewLevelLabelDesc
{
    margin-top: 5px;
    color: #7a7a85;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.CloseSpellShopButton 
{
    width: 20px;
    height: 20px;
    vertical-align: center;
    margin-right: 10px;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition-property: brightness, wash-color, img-shadow, pre-transform-scale2d;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    brightness: 2;
}

.CloseSpellShopButton:hover 
{
    wash-color: #00000094;
}

.CloseSpellShopButton:Active 
{
    pre-transform-scale2d: 0.9;
}

.SpellPreviewPanelButtonDeactivate
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #a15a5a ), to( #d6878733 ) );
}

.BuyButtonDeactivate
{
    saturation: 0;
}

.SpellDisabled
{
    saturation: 0;
}

.panel_spell_drop
{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    align: center center;
    transition-property: opacity;
    transition-duration: 0.1s;
    border: 1px solid gray;
    flow-children: down;
}

.panel_spell_drop_label_header
{
    horizontal-align: center;
    margin-top: 10px;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 24px;
}

.SpellShopSpellPanelDrop
{
    width: 120px;
    height: 120px;
    margin: 10px;
    img-shadow: 2px 2px 8px 5.0 white;
    background-image: url("file://{images}/custom_game/spell_shop/spell_bg.png");
    background-size: 100%;
    opacity-mask: url("file://{images}/custom_game/spell_shop/spell_mask.png");
    horizontal-align: center;
}

.SpellShopSpellPanelIconDrop
{
    align: center center;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

.SpellShopSpellBorderDrop
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/custom_game/spell_shop/border.png");
    background-size: 100%;
}

.panel_label_spell_name_drop
{
    horizontal-align: center;
    margin-top: -5px;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 18px;
}

.SpellShopButtonDropClose
{
    width: 150px;
    height: 40px;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100%;
    box-shadow: fill #002a6644 1px 1px 8px 1px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
    transition-property: brightness;
    transition-duration: 0.2s;
    margin-top: 20px;
}

.SpellShopButtonDropCloseLabel
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 14px;
}

.SpellShopButtonDropClose:hover
{
    brightness: 1.4;
}