.Leaderboard 
{
    width: 590px;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95);
    padding: 30px;
    transform: translatex(-50%);
    opacity: 0;
    transition: transform 0.1s ease 0.0s, opacity 0.2s ease 0.0s;
}

.Leaderboard.Open
{
    transform: translatey( 0% );
    opacity: 1;
}

.CloseButtonPanel
{
    horizontal-align: right;
    margin-top: 66px;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/information/close.png");
    transition-property: transform;
    transition-duration: 0.2s;
}

.CloseButtonPanel:hover
{
    transform: scale3d(1.1,1.1,1.1);
}

.HeaderLabel
{
    color: white;
    font-weight: semi-bold;
    font-size: 40px;
    margin-top: 127px;
}

.LeaderboardPanel
{
    flow-children: down;
    margin-top: 190px;
    width: 100%;
}

.LeaderboardColumnsHeader
{
    flow-children: right;
}

.LeaderboardColumnsHeader Label
{
    color: #B8FF45;
    font-size: 14px;
}

.Leaderboard_column_id
{
    width: 60px;
    vertical-align: center;
    padding-left: 20px;
    text-overflow: shrink;
}

.Leaderboard_column_name
{
    width: 200px;
    vertical-align: center;
}

.LeaderboardColumnsHeader .Leaderboard_column_name
{
    padding-left: 32px;
}

.Leaderboard_column_sum
{
    width: 80px;
    vertical-align: center;
}

.Leaderboard_column_troll
{
    width: 60px;
    vertical-align: center;
}

.Leaderboard_column_elves
{
    width: 60px;
    vertical-align: center;
}

.Leaderboard_column_games
{
    width: 60px;
    vertical-align: center;
}

.PlayersList
{
    margin-top: 5px;
    width: 100%;
    flow-children: down;
}

.LinePlayer
{
    width: 100%;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 20px;
    flow-children: right;
}

.LinePlayer Label
{
    color: white;
    font-weight: semi-bold;
    font-size: 16px;
    vertical-align: center;
}

.LinePlayer_1
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffd84b82 ), to( #78641F ));
}

.LinePlayer_2
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffffff65 ), to( #717171 ));
}

.LinePlayer_3
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffa24b97 ), to( #784A1F ));
}

.LocalPlayer
{
    margin-top: 5px;
    width: 100%;
    flow-children: down;
}

.LocalPlayer .LinePlayer
{
    background-color: #4B6834;
}

.SeasonHistory
{
    flow-children: down;
    width: 100%;
    margin-bottom: 16px;
}

.SeasonTabs
{
    flow-children: right;
    width: 100%;
    margin-bottom: 12px;
}

.SeasonTabButton
{
    height: 30px;
    padding: 0px 16px;
    margin-right: 8px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.1s ease-in-out;
}

.SeasonTabButton:hover
{
    background-color: rgba(255, 255, 255, 0.12);
}

.SeasonTabButton.Active
{
    background-color: #4B6834;
}

.SeasonTabButton Label
{
    color: white;
    font-size: 16px;
    vertical-align: center;
}

.SeasonContent
{
    flow-children: down;
    width: 100%;
}

.SeasonPanel
{
    flow-children: down;
    width: 100%;
    visibility: collapse;
}

.SeasonPanel.Active
{
    visibility: visible;
}

.SeasonPanel .SeasonHeader
{
    flow-children: right;
}

.SeasonPlayersList,
.SeasonLocalPlayer
{
    flow-children: down;
    width: 100%;
}

.SeasonPlaceholderText
{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    margin: 8px 0px;
}
