.Leaderboard 
{
    width: 590px;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95);
    padding: 30px;
    transform: translatex(-50%);
    opacity: 0;
    transition: transform 0.1s ease 0.0s, opacity 0.2s ease 0.0s;
}

.Leaderboard.Open
{
    transform: translatey( 0% );
    opacity: 1;
}

.CloseButtonPanel
{
    horizontal-align: right;
    margin-top: 66px;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/information/close.png");
    transition-property: transform;
    transition-duration: 0.2s;
}

.CloseButtonPanel:hover
{
    transform: scale3d(1.1,1.1,1.1);
}

.HeaderLabel
{
    color: white;
    font-weight: semi-bold;
    font-size: 40px;
    margin-top: 127px;
}

.SeasonTabsContainer
{
    width: 100%;
    margin-bottom: 20px;
    flow-children: right;
    height: fit-children;
    align: center top;
}

.SeasonTabsContainer.Hidden
{
    visibility: collapse;
    height: 0px;
    margin-bottom: 0px;
}

.SeasonTabsViewport
{
    width: fill-parent-flow(1.0);
    height: fit-children;
    overflow: clip;
    padding-bottom: 6px;
    margin: 0px 8px;
}

.SeasonTabs
{
    flow-children: right;
    width: fit-children;
    transition-property: margin-left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.SeasonTabNavButton
{
    width: 28px;
    height: 28px;
    margin: 0px 2px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    background-size: 18px 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #B8FF45aa;
    transition-property: background-color, wash-color;
    transition-duration: 0.15s;
}

.SeasonTabNavButton:hover
{
    background-color: rgba(184, 255, 69, 0.25);
    wash-color: #B8FF45;
}

.SeasonTabNavButton.Hidden
{
    visibility: collapse;
}

.SeasonTabNavButtonLeft
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

.SeasonTabNavButtonRight
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

.SeasonTabsContainer.Hidden .SeasonTabs
{
    margin-left: 0px;
}

.SeasonTab
{
    flow-children: right;
    height: 36px;
    padding: 6px 14px;
    margin-right: 8px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.04);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.SeasonTab:hover
{
    background-color: rgba(184, 255, 69, 0.18);
}

.SeasonTab.Selected
{
    background-color: rgba(184, 255, 69, 0.35);
}

.SeasonTabLabel
{
    vertical-align: center;
    color: white;
    font-size: 18px;
    font-weight: semi-bold;
    text-transform: none;
}

.SeasonTab.Selected .SeasonTabLabel
{
    color: #B8FF45;
}

.LeaderboardPanel
{
    flow-children: down;
    margin-top: 190px;
    width: 100%;
}

.LeaderboardColumnsHeader
{
    flow-children: right;
}

.LeaderboardColumnsHeader Label
{
    color: #B8FF45;
    font-size: 14px;
}

.Leaderboard_column_id
{
    width: 60px;
    vertical-align: center;
    padding-left: 20px;
    text-overflow: shrink;
}

.Leaderboard_column_name
{
    width: 200px;
    vertical-align: center;
}

.LeaderboardColumnsHeader .Leaderboard_column_name
{
    padding-left: 32px;
}

.Leaderboard_column_sum
{
    width: 80px;
    vertical-align: center;
}

.Leaderboard_column_troll
{
    width: 60px;
    vertical-align: center;
}

.Leaderboard_column_elves
{
    width: 60px;
    vertical-align: center;
}

.Leaderboard_column_games
{
    width: 60px;
    vertical-align: center;
}

.PlayersList
{
    margin-top: 5px;
    width: 100%;
    flow-children: down;
}

.LinePlayer
{
    width: 100%;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 20px;
    flow-children: right;
}

.LinePlayer Label
{
    color: white;
    font-weight: semi-bold;
    font-size: 16px;
    vertical-align: center;
}

.LinePlayer_1
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffd84b82 ), to( #78641F ));
}

.LinePlayer_2
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffffff65 ), to( #717171 ));
}

.LinePlayer_3
{
    background-color: gradient( linear, 0% 0%, 40% 0%, from( #ffa24b97 ), to( #784A1F ));
}

.LocalPlayer
{
    margin-top: 5px;
    width: 100%;
    flow-children: down;
}

.LocalPlayer .LinePlayer
{
    background-color: #4B6834;
}