.SpellMapPanel
{
    margin-left:244px;
	width:96px;
	height:220px;
	vertical-align:bottom;
	background-image:url("s2r://panorama/images/hud/reborn/right_flare_bg_psd.vtex");
	background-size:100%;
	flow-children:down;
}

.MinimapExtraLarge .SpellMapPanel
{
	margin-left: 280px;
}

.SpellButtonOpen
{
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 48px;
    margin-top: 40px;
    margin-left: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.SpellButtonOpen:hover
{
    brightness: 2;
}

.SpellButtonOpenTroll
{
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 48px;
    margin-top: 5px;
    margin-left: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.SpellButtonOpenTroll:hover
{
    brightness: 2;
}

.ActivatedSpell
{
    width: 28px;
    height: 28px;
    background-color: black;
    border-radius: 48px;
    margin-top: 5px;
    margin-left: 12px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    transition-property: brightness;
    transition-duration: 0.2s;
}

.ActivatedSpell:hover
{
    brightness: 2;
}

.SpellButtonOpenIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/custom_game/spell_shop/shop_button.png");
    background-size: 100%;
    border: 1.5px solid rgba(184, 255, 69, 0.5); /* Толщина и цвет границы */
    border-radius: 50%; /* Закругление границ, чтобы получился круг */
}

.SpellButtonOpenIconTroll
{
    width: 100%;
    height: 100%;
    background-image:url("file://{images}/custom_game/spell_shop/shop_button3.png");
	background-size:100%;
    border: 1.5px solid rgba(184, 255, 69, 0.5); /* Толщина и цвет границы */
    border-radius: 50%; /* Закругление границ, чтобы получился круг */
}

.ActivatedSpellIcon
{
    width: 100%;
    height: 100%;
    background-image:url("file://{images}/custom_game/spell_shop/no_active2.png");
	background-size:100%;
    border: 1px solid rgba(184, 255, 69, 0.5); /* Толщина и цвет границы */
    border-radius: 50%; /* Закругление границ, чтобы получился круг */
}

.HUDFlipped .ActivatedSpellIcon
{
    transform: rotateY( -180deg );
}

.HUDFlipped .SpellButtonOpenIcon
{
    transform: rotateY( -180deg );
}

.HUDFlipped .SpellButtonOpenIconTroll
{
    transform: rotateY( -180deg );
}

.SpellShopPanel
{
    width: 1143px;
    height: 700px;
    align: center center;
    flow-children: down;
    transition-property: opacity;
    transition-duration: 0.2s;
    background-color: rgba(27, 30, 29, 0.9);
}

.CloseSpellShop
{
    opacity: 0;
}

.CloseSpellShopButton 
{
    ignore-parent-flow: true;
    width: 22px;
    height: 22px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/spell_shop/close.png");
    transition-property: transform;
    transition-duration: 0.2s;
    horizontal-align: right;
    margin-top: 18px;
    margin-right: 20px;
    z-index: 5;
}

.CloseSpellShopButton:hover
{
    transform: scale3d(1.1,1.1,1.1);
}

.SpellShopPanelBody
{
    flow-children: right;
    width: 100%;
    height: 100%;
}

.SpellShopSpellsList
{
    width: 721px;
    height: 1208px;
    flow-children: down;
}

.PreviewSpellInfo
{
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95);
    flow-children: down;
}

.SpellShopSpellsListChoose
{
    horizontal-align: center;
    font-weight: semi-bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.SpellShopSpellsListBody
{
    horizontal-align: center;
    height: 550px;
    width: 725px;
    margin-top: 20px;
    overflow: squish scroll;
    flow-children: right-wrap;
}

.SpellShopSpellPanel
{
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.SpellShopSpellPanel_Body
{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid rgba(184, 255, 69, 0.5);
}

.SpellShopSpellPanel:hover
{
    brightness: 1.2;
}

.SpellShopSpellPanelIcon
{
    align: center center;
    width: 100%;
    height: 100%;
}

.SpellShopPanelBuy
{
    width: 100%;
    height: 100%;
    flow-children: down;
    background-color: gradient( linear, 0% 0%, 50% 100%, from( rgba(89, 132, 55, 0.25) ), to( rgba(39, 68, 15, 0.25) ) );
}

.UnlockPanelBuyButtonDescription
{
    margin-top: 10px;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}

.UnlockPanelBuy
{
    flow-children: right;
    margin-left: 20px;
    margin-top: 10px;
}

.UnlockPanelBuyButton
{
    width: 209px;
    height: 32px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    horizontal-align: center;
    vertical-align: center;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.UnlockPanelBuyButton:hover
{
    brightness: 1.4;
}

.UnlockPanelBuyButton Label
{
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #B8FF45;
    align: center center;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
}

.UnlockPanelBuyButtonCost
{
    vertical-align: center;
    horizontal-align: center;
    flow-children: right;
    margin-left: 10px;
}

.UnlockPanelBuyButtonCostIcon
{
    width: 25px;
    height: 27px;
    background-image: url("file://{images}/custom_game/spell_shop/gem_icon.png");
    background-size: 100%;
    vertical-align: center;
}

.UnlockPanelBuyButtonCostLabel
{
    color: white;
    font-weight: semi-bold;
    font-size: 20px;
    vertical-align: center;
    margin-left: 10px;
}

.SpellShopInfoHeaderLabel
{
    horizontal-align: center;
    font-weight: semi-bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.SpellShopIconAndButton
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 20px;
}

.SpellShopPreviewIcon
{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid rgba(184, 255, 69, 0.5);
}

.SpellPreviewPanelNameButton
{
    margin-left: 20px;
    vertical-align: center;
    flow-children: down;
}

.SpellPreviewPanelNameLabel
{
    color: #B8FF45;
    font-weight: semi-bold;
    font-size: 24px;
}

.SpellPreviewPanelNameLabelDesc
{
    color: #808995;
    font-size: 20px;
    margin-top: 5px;
    width: 237px;
}

.SpellPreviewPanelButtonActivate
{
    width: 200px;
    height: 32px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 5px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.SpellPreviewPanelButtonActivate:hover
{
    brightness: 1.4;
}

.SpellPreviewPanelButtonActivate Label
{
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #B8FF45;
    align: center center;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
}

.SpellPreviewPanelButtonCost
{
    vertical-align: center;
    horizontal-align: right;
    flow-children: right;
    margin-right: 10px;
}

.SpellPreviewPanelButtonCostIcon
{
    width: 20px;
    height: 20px;
    background-image: url("file://{images}/custom_game/spell_shop/gem_icon.png");
    background-size: 100%;
    vertical-align: center;
}

.SpellPreviewPanelButtonCostLabel
{
    color: white;
    font-weight: semi-bold;
    font-size: 16px;
    vertical-align: center;
    margin-left: 5px;
}

#VerticalScrollBar
{
    width: 2px;
}

.SpellBonusesPanel
{
    margin-left: 20px;
    margin-top: 5px;
    flow-children: right;
}

.SpellColumnBonus
{
    flow-children: down;
}

.SpellColumnBonus_name
{
    width: 156px;
    height: 210px;
    padding-top: 39px;
}

.SpellColumnBonus_1
{
    width: 72px;
    height: 220px;
}

.SpellColumnBonus_2
{
    width: 72px;
    height: 220px;
}

.SpellColumnBonus_3
{
    width: 72px;
    height: 220px;
}

.IsActiveColumn
{
    background-size: 100%;
    background-image: url("file://{images}/new_design/spell_shop/bonus_bg.png");
    background-img-opacity: 0.4;
}

.SpellPreviewLevelLabel
{
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.panel_spell_drop
{
    align: center center;
    transition-property: opacity;
    transition-duration: 0.1s;
    flow-children: none;
}

.panel_spell_drop_bg
{
    width: 2408px;
    height: 1512px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/notif/bg.png");
    ui-scale: 40%;
}

.panel_spell_drop_main
{
    align: center center;
    flow-children: down;
}

.panel_spell_drop_label_header
{
    horizontal-align: center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 24px;
}

.SpellShopSpellPanelDrop
{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid rgba(184, 255, 69, 0.5);
    horizontal-align: center;
    margin-top: 10px;
}

.SpellShopSpellPanelIconDrop
{
    align: center center;
    width: 100%;
    height: 100%;
}

.panel_label_spell_name_drop
{
    margin-top: 10px;
    horizontal-align: center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #B8FF45;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
}

.SpellShopButtonDropClose
{
    width: 200px;
    height: 32px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    vertical-align: center;
    transition-property: brightness;
    transition-duration: 0.2s;
    horizontal-align: center;
    margin-top: 20px;
}

.SpellShopButtonDropClose:hover
{
    brightness: 1.4;
}

.SpellShopButtonDropClose Label
{
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #B8FF45;
    align: center center;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
}

.SpellPreviewPanelButtonDeactivate
{
    background-color: #683434;
    border: 2px solid rgba(255, 69, 69, 0.5);
}

.SpellPreviewPanelButtonDeactivate Label
{
    color: #ff4545;
}

.SpellSrokPanelNameLabel
{
    color: #B8FF45;
    font-weight: semi-bold;
    font-size: 15px;
    margin-top: 5px;
}

.SpellPreviewLevelLabelDesc
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 8px;
    height: 16px;
    width: 140px;
}

.SpellPreviewLevelLabelValue
{
    color: white;
    font-weight: semi-bold;
    height: 16px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.SpellShopSpell_counter
{
    width: 32px;
    height: 32px;
    border: 2px solid #FFC23F;
    border-radius: 100%;
    z-index: 5;
    horizontal-align: right;
    background-color: #63461C;
}

.SpellShopSpell_counter_glow
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/new_design/topbar/glow.png");
    background-size: 100%;
    wash-color: #C39C37;
    opacity: 0.8;
}

.SpellShopSpell_counter_label
{
    text-align: center;
    width: 100%;
    font-weight: semi-bold;
    color: white;
    font-size: 20px;
    vertical-align: center;
}

.BuyButtonDeactivate
{
    saturation: 0;
}

.SpellDisabled
{
    saturation: 0;
}

.BuyButtonDeactivate:hover
{
    brightness: 1;
}

.SpellDisabled:hover
{
    brightness: 1;
}

.IsActivatedSpell .SpellShopSpellPanel_Body
{
    border: 2px solid rgba(255, 0, 0, 1);
}