@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot 
{
    horizontal-align: left;
    vertical-align: top;
    flow-children: down;
    transform: translatex(-50%);
    opacity: 0;
    margin-top: 150px;
    transition: transform 0.1s ease 0.0s, opacity 0.2s ease 0.0s;
    box-shadow: 0px 0px 150px -10px rgba(0, 0, 0, 0.75);
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible 
{
    transform: translatey( 0% );
    opacity: 1;
}

#ChangePanelType 
{
    flow-children: right;
    padding: 10px;
}

.ButtonSetStyle
{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    margin-right: 10px;
    border: 1px solid #B8FF45;
    saturation: 0.4;
}

.ButtonSetStyle Label
{
    font-size: 14px;
    color: #B8FF45;
    text-shadow: 0px 0px 2px 2 black;
    align: center center;
    width: 100%;
    text-align: center;
}

.ButtonSetStyle:hover
{
    brightness: 2;
}

.ButtonSetStyle:active
{
    brightness: 1.5;
}

.ButtonSetStyle.Active
{
    saturation: 1;
    brightness: 2;
}

.Legend 
{
    flow-children: right;
    margin-bottom: 8px;
}
  
.Legend Label 
{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.25);
}

.LegendPanel 
{
    
}


.ScoreCol_TeamInfo 
{
    padding-right: 6px;
    width: 14px;
}

.ScoreCol_Hero 
{
    width: 50px;
}

.ScoreCol_Name
{
    padding-left: 8px;
}

.ScoreCol_PlayerDetails 
{
    width: 100px;
}

.ScoreCol_Gold
{
    width: 74px;
}

.ScoreCol_Lumber
{
    width: 74px;
}

.ScoreCol_Kills
{
    width: 50px;
}

.ScoreCol_Score
{
    width: 50px;
}

.ScoreCol_Deaths
{
    width: 50px;
}

.ScoreCol_ElfScore
{
    width: 50px;
}

.ScoreCol_TrollScore
{
    width: 50px;
}

.ScoreCol_Assists 
{
    width: 50px;
}

#TeamsContainer 
{
    flow-children: down;
    horizontal-align: center;
}

.FlyoutTeam.no_players 
{
    visibility: collapse;
}
  
.local_player_team.FlyoutTeam 
{
    z-index: 99;
}

.FlyoutTeamData 
{
    flow-children: right;
}

.TeamInfo 
{
    vertical-align: center;
    height: 32px;
}

#TeamColor_GradentFromTransparentLeft 
{
    width: 100%;
    height: 100%;
}

#PlayersContainer 
{
    flow-children: down;
}

.PlayerRow 
{
    padding-top: 8px;
    height: 48px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.1);
}

#PlayerRowContainer 
{
    flow-children: right;
    height: 32px;
}

#PlayerMainInformation 
{
    flow-children: down;
}

.ScoreboardPanel 
{

}

#PlayerOneMainInformation 
{
    flow-children: right;
}

#Hero
{
    width: 50px;
    height: 32px;
}

#HeroIcon 
{
    vertical-align: middle;
    width: 50px;
    height: 32px;
}

#PlayerDetailsContainer 
{
    height: 100%;
}

#PlayerAndHeroName 
{
    padding-left: 8px;
}

#PlayerName 
{
    color: white;
    font-size: 14px;
    font-weight: semi-bold;
    white-space: nowrap;
}

#PlayerScoreInformation 
{
    flow-children: right;
    height: 100%;
}

#PlayerScoreInformation .ScoreboardPanel
{
    height: 100%;
}

#PlayerScoreInformation .ScoreboardPanel Label 
{
    vertical-align: center;
    font-size: 16px;
    text-align: left;
    margin-top: 3px;
    width: 100%;
    font-weight: semi-bold;
    text-overflow: shrink;
}

.PlayerGoldAmount
{
    color: #FFD74B;
}

.PlayerLumberAmount
{
    color: #23BD33;
}

.ScoreCol_Kills Label
{
    color: white;
}

.ScoreCol_Deaths Label
{
    color: white;
}

.ScoreCol_ElfScore Label
{
    color: white;
}

.ScoreCol_TrollScore Label
{
    color: white;
}

#GiveResourcesTable 
{
    flow-children: right;
    visibility: collapse;
}

.local_player_teammate #GiveResourcesTable 
{
    visibility: visible;
}

#ResourcePanels 
{
    flow-children: right;
}

.ResourcePanelSwapOne 
{
    flow-children: right;
}

.GoldEntryMain
{
    flow-children: none;
    width: 90px;
    height: 32px;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 50px;
    margin-left: 10px;
    background-color: #141414;
}

#GoldEntry
{
    width: 100%;
    horizontal-align: left;
    margin-left: 28px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    vertical-align: center;
    height: 25px;
    font-size: 13px;
}

.GoldIconEntry
{
    vertical-align: center;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url("s2r://panorama/images/hud/icon_gold.psd");
}

.LumberEntryMain
{
    flow-children: none;
    width: 90px;
    height: 32px;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 50px;
    margin-left: 10px;
    background-color: #141414;
}

#LumberEntry
{
    width: 100%;
    horizontal-align: left;
    margin-left: 28px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    vertical-align: center;
    height: 25px;
    font-size: 13px;
}

.LumberIconEntry
{
    vertical-align: center;
    margin-left: 5px;
    width: 24px;
    height: 18px;
    background-size: 100%;
    background-image: url("file://{images}/custom_game/lumber_icon.png");
}

.GiveButton {
    height: 30px;
    width: 30px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/flyout/send.png");
    transition-property: brightness;
    transition-duration: 0.15s;
    margin-left: 10px;
}

.GiveButton:hover 
{
    brightness: 1.2;
}

.GiveButtonAll
{
    width: 70px;
    height: 32px;
    border-radius: 50px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    transition-property: brightness;
    transition-duration: 0.15s;
    margin-left: 10px;
}

.GiveButtonAll:hover 
{
    brightness: 1.2;
}

.GiveButtonAll Label
{
    align: center center;
    color: #B8FF45;
    font-weight: semi-bold;
    font-size: 16px;
}

#DopPanels 
{
    flow-children: right;
    vertical-align: center;
    margin-left: 30px;
}

.ButtonPlayer
{
    margin-right: 15px;
    width: 28px;
    height: 28px;
    border: 2px solid #444444;
    border-radius: 50px;
    vertical-align: center;
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #0E0E0E), to( #1C1C1C));
    transition-property: background-color;
    transition-duration: 0.15s;
}

.ButtonKick
{
    background-image: url("file://{images}/new_design/flyout/kick.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ButtonFlag
{
    background-image: url("file://{images}/new_design/flyout/flag.png");
    background-size: 40% 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ButtonMute
{
    background-image: url("file://{images}/new_design/flyout/mute.png");
    background-size: 60% 40%;
    background-repeat: no-repeat;
    background-position: 60%;
}

.ButtonFlag:hover
{
    background-color: #4B6834;
}

.ButtonKick:hover
{
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #E95C5C), to( #994D4D));
}

.ButtonMute:hover
{
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #E95C5C), to( #994D4D));
}

.player_muted .ButtonMute 
{
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #E95C5C), to( #994D4D));
}

.rainbow_nickname
{
    color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 183, 255)), color-stop( 0.5, rgb(0, 255, 85)), to( rgb(255, 196, 0)));
}

.rainbow_nickname_animate
{
    animation-name: Colorgradient;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight: bold;
    text-shadow: 0px 0px 8px 0 gold;
}

@keyframes 'Colorgradient'{
    0%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45, color-stop( 0.5, #fff700), to( #eebb0a));
        text-shadow: 0px 0px 8px 0 gold;
    }
    25%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
        text-shadow: 0px 0px 8px 1 gold;
    }
    50%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #eebb0a), color-stop( 0.5, #fedd45), to( #fff700));
        text-shadow: 0px 0px 8px 2 gold;
    }
    75%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
        text-shadow: 0px 0px 8px 1 gold;
    }
    100%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45), color-stop( 0.5, #fff700), to( #eebb0a ));
        text-shadow: 0px 0px 8px 0 gold;
    }
}

#_dynamic_team_3
{
    visibility: visible;
}
#_dynamic_team_6,
#_dynamic_team_7,
#_dynamic_team_8
{
    visibility: collapse;
}

.player_dead #HeroIcon
{
    saturation: 0;
}

.PlayerDead
{
    align: center center;
    background-image: url("file://{images}/new_design/flyout/kick.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    wash-color: red;
    img-shadow: 0px 0px 4px 5.0 #333333b0;
    opacity: 0;
}

.player_dead .PlayerDead
{
    opacity: 1;
}