.GameSetupStages
{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.SetupStageBG
{
    width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 110%, from( rgba(42, 58, 78, 0.6) ), to( rgba(0, 0, 0, 0.6) ) );

}

.StageTimer
{
    horizontal-align: center;
    font-size: 64px;
    font-weight: semi-bold;
    color: white;
    text-align: center;
    margin-top: 35px;
}

.StagesLines
{
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 80px;
    flow-children: right;
}

.StageLinePanel
{
    flow-children: down;
    margin-right: 14px;
    vertical-align: bottom;
}

.StageNameAndArrow
{
    flow-children: right;
    visibility: collapse;
}

.StageName
{
    color: white;
    font-size: 20px;
    horizontal-align: left;
    vertical-align: center;
}

.ArrowStage
{
    margin-top: 2px;
    margin-left: 10px;
    width: 14px;
    height: 8px;
    background-image: url("file://{images}/new_design/setup/arrow.png");
    background-size: 100%;
    vertical-align: center;
}

.StageLine
{
    margin-top: 8px;
    width: 154px;
    height: 10px;
    border: 2px solid rgba(184, 255, 69, 0.5);
    transition-property: width;
    transition-duration: 0.5s;
}

.StageLineBack
{
    width: 100%;
    height: 100%;
    background-color: black;
}

.StageLineFront
{
    width: 0%;
    height: 100%;
    background-color: #B8FF45;
    transition-property: width;
    transition-duration: 0.5s;
}

.ActiveStage .StageLine
{
    width: 364px;
}

.ActiveStage .StageNameAndArrow
{
    flow-children: right;
    visibility: visible;
}

.WindowStage
{
    horizontal-align: center;
    margin-top: 144px;
    transition-property: opacity;
    transition-duration: 0.25s;
    flow-children: down;
}

.WindowMapStage
{
    width: 700px;
}

.WindowStageName
{
    font-size: 44px;
    color: white;
    font-weight: semi-bold;
    horizontal-align: center;
}

.PlayersCounter
{
    flow-children: right;
    horizontal-align: center;
}

.MapsList
{
    margin-top: 60px;
    flow-children: right-wrap;
    horizontal-align: center;
}

.ChooseMapButton
{
    width: 330px;
    height: 100px;
    margin: 5px;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

.ChooseMapButtonBG
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    brightness: 0.25;
}

.ChooseMapButtonInfo
{
    flow-children: down;
    margin-left: 20px;
    margin-top: 10px;
}

.ChooseMapButtonName
{
    font-weight: semi-bold;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.ChooseMapButtonVotesCounter
{
    font-size: 16px;
    color: #B8FF45;
}

.ChooseMapButton:hover
{
    box-shadow: hollow rgba(184, 255, 69, 0.5) 0px 0px 0px 2px;
}

.DisabledChoose.ChooseMapButton:hover
{
    box-shadow: hollow rgba(184, 255, 69, 0.5) 0px 0px 0px 0px;
}

.SelectedMapLocal
{
    box-shadow: hollow rgba(184, 255, 69, 0.5) 0px 0px 0px 2px;
}

.DisabledChoose.SelectedMapLocal:hover
{
    box-shadow: hollow rgba(184, 255, 69, 0.5) 0px 0px 0px 2px;
}

.vote_player_panel
{
    width: 18px;
    height: 18px;
    background-color: black;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 100%;
    margin-right: 10px;
}

.vote_player_panel_enabled
{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #B8FF45;
    align: center center;
    opacity: 0;
}

.PlayerIsVote .vote_player_panel_enabled
{
    opacity: 1;
}

.YourChanceTroll
{
    margin-top: 40px;
    font-size: 32px;
    color: white;
    horizontal-align: center;
    font-weight: semi-bold;
}

.ChooseRolePanels
{
    flow-children: right;
    margin-top: 59px;
    horizontal-align: center;
}

.ChooseRolePanel
{
    margin-left: 50px;
    margin-right: 50px;
}

.RoleAvatar
{
    width: 300px;
    height: 300px;
}

.RoleGlow
{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("file://{images}/new_design/setup/glow_elf.png");
    border-radius: 100%;
}

.RoleIcon
{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("file://{images}/new_design/setup/elf_icon.png");
    border-radius: 100%;
}

.RoleBorder
{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 100%;
}

.RoleNamePanel
{
    width: 170px;
    height: 50px;
    background-color: #141414;
    border-radius: 50px;
    border: 2px solid rgba(184, 255, 69, 0.5);
    horizontal-align: center;
    margin-top: 260px;
}

.RoleNamePanel Label
{
    align: center center;
    font-size: 24px;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
}

.TrollPanel .RoleGlow
{
    background-size: 100%;
    background-image: url("file://{images}/new_design/setup/glow_troll.png");
}

.TrollPanel .RoleIcon
{
    background-image: url("file://{images}/new_design/setup/troll_icon.png");
    border-radius: 100%;
}

.TrollPanel .RoleBorder
{
    border: 2px solid rgba(255, 69, 69, 0.5);
}

.TrollPanel .RoleNamePanel
{
    border: 2px solid rgba(255, 69, 69, 0.5);
}

.RoleDescription
{
    width: 300px;
    text-align: center;
    font-size: 20px;
    margin-top: 350px;
    color: rgba(255, 255, 255, 0.5);
}

.RoleButton:hover .RoleGlow
{
    opacity: 1;
}

.RoleButton:hover .RoleNamePanel
{
    background-color: #4B6834;
}

.TrollPanel .RoleButton:hover .RoleNamePanel
{
    background-color: #683434;
}

.SelectedRole .RoleGlow
{
    opacity: 1;
}

.SelectedRole .RoleNamePanel
{
    background-color: #4B6834;
}

.TrollPanel.SelectedRole .RoleNamePanel
{
    background-color: #683434;
}

#WindowRoleStage
{
    opacity: 0;
}

#WindowPerksStage
{
    opacity: 0;
}

.PlayerSelectedPerks
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 40px;
}

.AllPerksPanel
{
    width: 860px;
    horizontal-align: center;
    flow-children: down;
    margin-top: 150px;
}

.PerksHeaderLabel
{
    horizontal-align: center;
    font-size: 16px;
    color: white;
}

.PerksBorderLine
{
    margin-top: 6px;
    horizontal-align: center;
    width: 745px;
    height: 1px;
    border-bottom: 2px solid #fff;
    border-brush: gradient(radial, 50% 50%, 0% 0%, 50% 100%, from(rgb(255, 255, 255)), to(#fff0));
}

.AllPerksList
{
    flow-children: right-wrap;
    horizontal-align: center;
    padding-top: 16px;
}

.PerkPanel
{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(184, 255, 69, 0.25);
    margin-right: 14px;
    margin-bottom: 16px;
}

.PerkImage
{
    width: 46px;
    height: 46px;
    align: center center;
}

.ActivePerk
{
    border: 2px solid #B8FF45;
}

.PerkPanelNumber
{
    background-color: #B8FF45;
    width: 16px;
    text-align: center;
    padding-bottom: 0px;
    horizontal-align: right;
    vertical-align: bottom;
    font-size: 14px;
    color: black;
    font-weight: semi-bold;
    opacity: 0;
}

.ActivePerk .PerkPanelNumber
{
    opacity: 1;
}

.GameInfo
{
    margin-left: 150px;
    margin-top: 150px;
    flow-children: down;
    opacity: 0;
}

.SettingsLabelHeader
{
    color: #B8FF45;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: semi-bold;
}

.SettingsLabel
{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    font-size: 20px;
    visibility: collapse;
}

.GameTips
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 15px;
}

.GameTip
{
    horizontal-align: center;
    color: #82cf43;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: semi-bold;
    text-shadow: 0px 0px 3px 2.0 #0000007e;
}

.ModVotePanel {
    margin-top: 20px;
    flow-children: down;
    horizontal-align: center;
}

.ModVoteButtons {
    flow-children: right;
    horizontal-align: center;
    margin-top: 4px;
}

.ModVoteButton {
    width: 120px;
    height: 28px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 0.1s;
    flow-children: right;
    align: center center;
}

.ModVoteButton:hover {
    background-color: rgba(184, 255, 69, 0.2);
}

.ModVoteCounter {
    margin-left: 4px;
    color: #B8FF45;
}

.SelectedModLocal {
    box-shadow: hollow rgba(184, 255, 69, 0.5) 0px 0px 0px 2px;
}