@define ANIM_TIME: 0.75s;
@define EXTRA_PADDING: 1px;
@define M_EXTRA_PADDING: 0px;

.CustomHudRoot {
    width: 100%;
    height: 100%;
}

#TopBarScoreboard {
    horizontal-align: center;
    vertical-align: top;
    margin-left: 500px;
}

.AspectRatio4x3 #TopBarScoreboard {
    margin-left: 225px;
}

#ScoreboardContainer {
    flow-children: right;
    horizontal-align: left;
    vertical-align: top;
}

#MultiteamScoreboard {
    horizontal-align: left;
    vertical-align: top;
    height: 200px;
    padding-left: EXTRA_PADDING;
    padding-right: EXTRA_PADDING;
    width: 1200px;
    flow-children: right-wrap;
}

.ScoreboardTeamWrapper {
    height: 40px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition-property: position;
    transition-duration: ANIM_TIME;
    margin-left: M_EXTRA_PADDING;
    margin-right: M_EXTRA_PADDING;
}

#TeamLogo {
    horizontal-align: left;
    vertical-align: top;
    width: 12px;
    height: 12px;
}

.ScoreboardTeamWrapper.no_players {
    visibility: collapse;
}

.ScoreboardTeamWrapper.ten_players {
    margin-left: 0px;
    margin-right: 0px;
}

#ScoreboardTeam {
    margin-left: EXTRA_PADDING;
    margin-right: EXTRA_PADDING;
    padding-left: 1px;
    padding-right: 1px;
}

.AspectRatio4x3 .ScoreboardTeamWrapper {
    padding-left: -5px;
    padding-right: -5px;
}

.ScoreboardTeamWrapper.team_getting_worse {
    animation-duration: ANIM_TIME;
    animation-timing-function: ease-in-out;
    animation-name: GettingWorseAnim;
    z-index: -100;
}

.ScoreboardTeamWrapper.team_getting_better {
    animation-duration: ANIM_TIME;
    animation-timing-function: ease-in-out;
    animation-name: GettingBetterAnim;
    z-index: 100;
}

@keyframes 'GettingWorseAnim' {
    0% {
        pre-transform-scale2d: 1;
    }

    50% {
        pre-transform-scale2d: 1;
    }

    100% {
        pre-transform-scale2d: 1;
    }
}

@keyframes 'GettingBetterAnim' {
    0% {
        pre-transform-scale2d: 1;
    }

    50% {
        pre-transform-scale2d: 1.05;
    }

    100% {
        pre-transform-scale2d: 1;
    }
}

#LogoAndScore {
    height: 100%;
    width: 64px;
}

#TeamScore {
    vertical-align: bottom;
    horizontal-align: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    margin-bottom: 4px;
    margin-left: 1px;
    text-overflow: clip;
}

#TeamDarkenWash {
    width: 100%;
    height: 33px;
    background-color: gradient(linear, 25px 0%, 40px 0%, from(black), to(transparent));
}

#TeamStatus {
    width: 100%;
    height: 100%;
}

#PlayersContainer {
    padding-left: 24px;
    flow-children: right;
}

#TeamOverlayBar {
    width: 100%;
    height: 40px;
}

#LocalTeamOverlay {
    width: 100%;
    height: 34px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay {
    box-shadow: 0px 0px 3px 0px #FFFFFF88;
}

.ScoreboardPlayer {
    
}

.FlowDown {
    flow-children: down;
}

.PlayerPortraitWrapper {
    flow-children: down;
}

#PlayerColorBar {
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #000000;
}

#HeroIcon {
    width: 58px;
    height: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.player_dead #HeroIcon {
    wash-color: #CCCCCC;
    saturation: 0;
}

.player_connection_abandoned #HeroIcon {
    wash-color: #FF0000;
    saturation: 0;
}

#DisconnectionIndicator {
    opacity: 0;
    width: 100%;
    height: 18px;
    vertical-align: top;
    margin-top: 24px;
}

.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator {
    opacity: 1;
}

#ScoreRow {
    width: 100%;
}

#RespawnIndicator 
{
    width: 58px;
    height: 30px;
    horizontal-align: center;
    opacity: 0;
}

#RespawnTimer 
{
    align: center center;
    font-size: 16px;
    color: white;
    text-shadow: 0 0 5px red;
    font-weight: bold;
    z-index: 5;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator {
    opacity: 1;
    transform: translateY(0px);
}

#LocalPlayerIndicator {
    horizontal-align: center;
    vertical-align: bottom;
    visibility: collapse;
    width: 20px;
    height: 10px;
}

#UltimateIndicatorContainer {
    horizontal-align: center;
    width: 10px;
    height: 10px;
    margin-top: 16px;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer {
    visibility: collapse;
}

.not_local_player_team #UltimateIndicatorContainer {
    visibility: collapse;
}

.UltimateIndicatorShared {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator {
    visibility: visible;
}

#TipButton {
    margin-top: 72px;
    overflow: clip;
    max-width: 60px;
    max-height: 20px;
    padding: 2px 4px 1px 4px;
    min-width: 0px;
    min-height: 0px;
    horizontal-align: center;
    flow-children: right;
    opacity: 0;
    transition-property: pre-transform-scale2d, opacity, transform;
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
}

.is_local_player #TipButton {
    visibility: collapse;
}

.AltPressed .PlayerTippable #TipButton {
    opacity: 0.3;
}

.AltPressed .PlayerTippable #TipButton:hover {
    opacity: 1;
}

.TipsAvailable #TipButton {
    visibility: visible;
}

#TipButton #TipIcon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    transform: translateY(-1px);
    margin-right: 4px;
    background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#TipButton Label {
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: middle;
}