.GameSetup
{
    width: 100%;
    height: 100%;
}

#MapInfo{
    horizontal-align: right;
    margin-top: 5%;
    margin-right: 3%;
}

#MapInfoLabel
{
    font-size: 32px;
    color: #ffffff;
	text-transform: uppercase;
}

#TeamChoiceWrapper
{
    align: center center;
    flow-children: down;
}

#ChoiceButtonWrapper
{
    width: 800px;
}

.ChooseRole_troll
{
    width: 300px;
    height: 300px;
    border: 2px solid #718D9F;
    align: center center;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
}

.ChooseRole_troll:hover
{
   box-shadow: fill #db997222 0px 0px 24px 0px
   border: 2px solid orange;
   background-color: rgba(0,0,0,1);
}


.ChooseRole_creep
{
    width: 300px;
    height: 300px;
    border: 2px solid #718D9F;
    align: center center;
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
}

.ChooseRole_creep:hover 
{
   box-shadow: fill #db997222 0px 0px 24px 0px
   border: 2px solid orange;
   background-color: rgba(0,0,0,1);
}

@keyframes 'FireAnimation'{
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}

#border_hero
{
    width: 340px;
    height: 340px;
    align: center center;
    z-index: 10;
    margin-right: 400px;
}

#border_creep 
{
    width: 345px;
    height: 345px;
    align: center center;
    z-index: 10;
    margin-left: 400px;
}

.opacity_border
{
    opacity: 0;
}

.active_border
{
    opacity: 1;
    animation-name: FireAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transition-property: opacity, transform;
    transition-duration: .24s;
}

.HeroModelScene
{
    width: 300px;
    height: 300px;
}

#TeamChoiceHeader
{
    font-size: 32px;
    font-weight: bold;
    horizontal-align: center;
    text-overflow: clip;
    text-align: center;
    text-shadow: 2px 2px 8px 3.0 #333333b0;
}

#TeamChoiceTimer
{
    text-shadow: 2px 2px 8px 3.0 #333333b0;
	margin-top: 8px;
    font-size: 48px;
    color: white;
	horizontal-align: center;
}




.ChooseMapList{
    align: left top;
    margin-left: 0%;
    margin-top: 5%;
    width: 240px;
    flow-children: down;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
}

.ChooseAngelWolf{
    align: left top;
    margin-left: 13%;
    margin-top: 5%;
    width: 250px;
    flow-children: down;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
}



.ChooseMapHeader{
    width: 100%;
    height: 40px;
    background-color: gradient( linear, 0% 0%, 0% 110%, from( rgba(133, 196, 255, 0.15)  ), to( rgba(133, 196, 255, 0)) );  
}

.ChooseAngelWolfHeader{
    width: 100%;
    height: 40px;
    background-color: gradient( linear, 0% 0%, 0% 110%, from( rgba(133, 196, 255, 0.15)  ), to( rgba(133, 196, 255, 0)) );  
}

.ChooseMapTitle{
    vertical-align: center;
    font-size: 18px;
    color: white;
    horizontal-align: center;
    font-family: 'Radiance';
    font-weight: semi-bold;
}

.ChooseAngelWolfTitle{
    vertical-align: center;
    font-size: 18px;
    color: white;
    horizontal-align: center;
    font-family: 'Radiance';
    font-weight: semi-bold;
}
  
.MapsContainer
{
    flow-children: down;
    margin-left: 20px;
}

.AngelWolfContainer
{
    flow-children: down;
    margin-left: 20px;
}

.ChooseMapButton
{
    flow-children: right;
    width: 250px;
    height: 50px;
}

.RealChooseMapButton
{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: center;
    background-color: gradient(radial, 50% 50%, 0% 0%, 10% 10%, from(#000000), to(#000000));
    border: 1px solid #5e686966;
    box-shadow: #00000055 0px 0px 1px 3px;
}

.ChooseModButton
{
    flow-children: right;
    width: 250px;
    height: 50px;
}

.RealChooseModButton
{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: center;
    background-color: gradient(radial, 50% 50%, 0% 0%, 10% 10%, from(#000000), to(#000000));
    border: 1px solid #5e686966;
    box-shadow: #00000055 0px 0px 1px 3px;
}
  
.active
{
    background-color: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from(#e7f6f5), to(#333399));
    border: 3px solid #000000;
    box-shadow: #5b62bf77 0px 0px 6px 0px;
}

.ImageMap
{
    vertical-align: center;
    font-family: 'Radiance';
    text-shadow: 0px 0px 2px 1 rgba(212, 255, 89, 0.25);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: semi-bold;
    margin-left: 10px;
}

.ImageMapPercent
{
    vertical-align: center;
    font-family: 'Radiance';
    color: gray;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: semi-bold;
    margin-left: 10px;
}
  
