.ResourcePanel
{
	flow-children: down;
    width: 100%;
    height: 100%;
}

.ResourceBG
{
    transform: translateY(35px);
    margin-right: 0px;
    width: 406px;
    height: 130px;
    ignore-parent-flow: true;
    overflow: noclip;
    background-image:url("file://{images}/new_design/resource/bg.png");
	background-size:100%;
    vertical-align:bottom;
	horizontal-align:right;
}

.ResourceMain
{
    vertical-align:bottom;
	horizontal-align:right;
	margin-right: 95px;
    flow-children: down;
    margin-bottom: 10px;
}

.GoldnLumber
{
	flow-children:right;
    margin-bottom: 5px;
    horizontal-align: right;
}

.ResourcePanels
{
	vertical-align: center;
	flow-children: right;
}

#GoldIcon 
{	
	width:18px; 
	height:18px; 
    background-image:url("file://{images}/new_design/resource/coin.png");
	background-size:100%;
    vertical-align: center;
}

.GoldText
{
    color: #FFD74B;
    font-weight: semi-bold;
    font-size: 16px;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
    vertical-align: center;
    margin-left: 5px;
}

.CheeseLumberPricePanel
{
    flow-children: right;
    horizontal-align: right;
}

.CheeseIcon
{
	width:19px; 
	height:15px; 
    background-image:url("file://{images}/new_design/resource/cheese.png");
	background-size:100%;
    vertical-align: center;
}

.LumberPriceIcon
{
	width:18px; 
	height:18px; 
    background-image:url("file://{images}/new_design/resource/lumber.png");
	background-size:100%;
    vertical-align: center;
}

.CheeseText
{
    color: #DCDCDC;
    font-weight: semi-bold;
    font-size: 16px;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
    vertical-align: center;
    margin-left: 5px;
}

.LumberPriceText
{
    color: #23BD33;
    font-weight: semi-bold;
    font-size: 16px;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
    vertical-align: center;
    margin-left: 5px;
}

#LumberPricePanel
{
    margin-left: 10px;
}

.ChangeResourcePanel
{
    width: 70px;
    height: 24px;
    background-color: #000000bb;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    margin-left: 5px;
}

.ChangeResourcePanel:hover
{
    background-color: #4B6834;
}

.ResourceChangeInfo
{
    color: white;
    font-size: 12px;
    align: center center;
    font-weight: semi-bold;
    text-overflow: shrink;
    text-align: center;
}