.BattlePassPanel 
{
    width: 1143px;
    height: 597px;
    background-image: url("file://{images}/new_design/battlepass/bg.png");
    background-size: 100%;
    align: center center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.BattlePassPanel.Open
{
    opacity: 1;
}

.CloseShop 
{
    margin-top: 15px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("file://{images}/new_design/battlepass/close.png");
    ignore-parent-flow: true;
    horizontal-align: right;   
    transition-property: transform;
    transition-duration: 0.2s;
    ui-scale: 80%;
}

.CloseShop:hover
{
    transform: scale3d(1.1,1.1,1.1);
}

.BattlePassLabel
{
    color: #CAFF74;
    font-weight: semi-bold;
    font-size: 64px;
    horizontal-align: center;
    margin-top: 57px;
    text-shadow: 0px 0px 4px 1 black;
    text-transform: uppercase;
}

.LevelText 
{
    vertical-align: top;
    margin-top: 134px;
    horizontal-align: center;
    color: white;
    font-size: 24px;
}

.BattlePassTimer
{
    vertical-align: top;
    margin-top: 165px;
    horizontal-align: center;
    color: white;
    font-size: 20px;
}

.BattlePass_Progress_4 
{
    margin-top: 191px;
    vertical-align: top;
    width: 1143px;
    height: 30px;
}

.BattlePass_Progress_5 
{
    width: 100%;  
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.BattlePass_Progress_6 {
    width: 50%; 
    height: 100%;
    background-color: rgba(184, 255, 69, 0.5);
}

.ExpText 
{
    align: center center;
    font-size: 16px;
    color: white;
}

.BattlePass_Rewards 
{
    flow-children: right;
    width: 100%;
    margin-left: 168px;
    overflow: scroll squish;
    height: 376px;
    vertical-align: bottom;
    horizontal-align: left;
}

.RewardsInfo
{
    flow-children: down;
    width: 168px;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.RewardsTypes
{
    color: #B8FF45;
    horizontal-align: center;
    margin-bottom: 20px;
}

.RewardsTypesImage
{
    width: 120px;
    height: 120px;
    horizontal-align: center;
}

.Free.RewardsTypesImage
{
    background-size: 100%;
    background-image: url("file://{images}/new_design/battlepass/free_bg.png");
    margin-bottom: 35px;
}

.Pay.RewardsTypesImage
{
    background-size: 100%;
    background-image: url("file://{images}/new_design/battlepass/pay_bg.png");
    img-shadow: 0px 0px 90px 2.0 rgba(184, 255, 69, 0.25);
}

.ButtonWitTypes
{
    horizontal-align: center;
}

.ButtonBuyPass
{
    width: 120px;
    height: 32px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 110px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.ButtonBuyPass:hover
{
    brightness: 1.4;
}

.ButtonBuyPass Label
{
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #B8FF45;
    align: center center;
    text-shadow: 0px 0px 5px 2 rgba(0, 0, 0, 0.692);
}

.LevelPanel 
{
    width: 170px;
    height: 50px;
    horizontal-align: center;
    vertical-align: center;
}

.LevelTextPanel 
{
    align: center center;
    color: #FFFFFF;
    text-align: center;
}

.BattlePass_Donate 
{
    height: 160px;
    flow-children: right;
}

.BattlePass_Free 
{
    height: 160px;
    flow-children: right;
}

.Levels 
{
    height: 50px;
    flow-children: right;
}

#HorizontalScrollBar, HTMLHorizontalScrollBar 
{
    height: 5px;
}

.reward_image 
{
    margin-top: 8px;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 2px solid rgba(184, 255, 69, 0.5);
    horizontal-align: center;
}

.RewardPaneClear 
{
    width: 170px;
    height: 160px;
}

.PanelLock 
{
    width: 90px;
    height: 30px;
    background-color: #4B6834;
    border: 2px solid rgba(184, 255, 69, 0.5);
    border-radius: 30px;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 100px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.BpLockedText
{
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 12px;
    align: center center;
}

.RewardInfoLabel
{
    text-align: left;
    margin-bottom: 110px;
    margin-left: 90px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    color: white;
    font-weight: semi-bold;
    font-size: 36px;
    text-shadow: 0px 0px 5px 4 black;
}

.BattlePass_Effects
{
    ignore-parent-flow: true;
    height: 100%;
    z-index: -1;
    flow-children: right;
}

.RewardLight
{
    background-image: url("file://{images}/new_design/rewards/light.png");
    background-size: 100%;
    width: 145px;
    height: 400px;
    opacity: 0.6;
    vertical-align: bottom;
    horizontal-align: center;
    margin-left: 20px;
    margin-right: 5px;
}

.Unlocked .PanelLock:hover
{
    brightness: 1.4;
}

.PanelLockOn .PanelLock
{
    background-color: #000000;
    brightness: 0.5;
}

.PanelLockOn .BpLockedText
{
    color: rgba(255, 255, 255, 0.25);
}

.PanelGives .PanelLock
{
    background-color: #000000;
}

.PanelLockOn .reward_image
{
    brightness: 0.5;
}

.level_block_main
{
    height: 100%;
    width: 170px;
    flow-children: down;
}

.RewardPanelFree 
{
    width: 170px;
    height: 160px;
}

.RewardPanelDonate 
{
    width: 170px;
    height: 160px;
}